.DS_Store
.env
.env.*
!.env.example
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.pyright/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.storage/
.*logs/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
